/* nav.navbar.navbar-default {
    margin-bottom: 0;
  } */
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #e6e2d7;
    z-index: 1;

}

.nav-link {
  margin-right: 25px;
  font-size: 25px;
  color:black;
  display: inline;

}
.nav-link:hover { 
  color:black; 
  background-color: #c27d3d;

  /* text-decoration: none; */
  font-size: 170%;
  transition: 1s;
}  
ul {
  list-style-type: none;
  text-align: center;
}
li {
  display: inline;
}
  