
/* keep an eye on margin-top and botton */

.footer {
  min-height: 200px;
  background: #e6e2d7;
  position: relative;
  bottom: -200px;
  /* margin-top: 255px; */
}  
h3 {
  float:center;
  padding-top: 30px;
}
.footer span {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  position: absolute;
  /* color: black; */
  background-color:#ffbe61; 
}
.logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-right: 10px;
  margin-top: 10px;
}